{{- $socials := . -}}
<div class="footer-wrap">
    <p class="socials">{{- $socials -}}</p>
    <a style="text-decoration : none" href="mailto:bbhtt@bbhtt.in">
        <img src="/mail.svg" alt="Email">
    </a>
    <a style="text-decoration : none" href="https://signal.me/#eu/kxfmfZ96Rdnf12nrRYbpfGAI8j_13m_7Cf9oEm8-0EfODBnUW35JoIxVVCHnqe46">
        <img src="/signal.svg" alt="Signal">
    </a>
    <a style="text-decoration : none" href="https://bbhtt.in/index.xml">
        <img src="/rss.svg" alt="Atom feed">
    </a>
    {{- partial "beian.html" . -}}
</div>
